@import url("https://fonts.googleapis.com/css?family=Ubuntu");
* {
  box-sizing: border-box;
}

body {
  background-color: #fbfbfb;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-size: 1.4em;
}

h3,
h2,
p,
li {
  color: #828282;
}

h3, li, button, input, select, textarea, p, a {
  font-size: 0.813em;
}

.btn-delete-flex {
  display: flex;
  justify-content: space-between;
  background-color: #7377bf;
  border-radius: 0.3em;
}

.btn-delete {
  background-color: #7377bf;
  color: #fff;
  border: none;
  margin: 0 4px 1px 0;
}

.alert-text {
  margin: 0.5em 0 0.5em 0.5em;
  color: #fff;
}

.btn-chart {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.li {
  list-style-type: none;
  text-align: center;
  margin-right: 5px;
  border-radius: 1.75em;
  padding: 0.4em;
}

.liSelected {
  background-color: #81c98f;
  color: #fff;
  font-weight: bold;
}

.btn-send {
  padding: 0.84em;
  background-color: #7377bf;
  color: #fff;
  margin-top: 1.5em;
  border-radius: 0.3em;
}

.btn-save {
  margin-right: 1em;
  background-color: #7377bf;
  color: #fff;
  margin-top: 1.5em;
  border-radius: 0.3em;
}

.btn-cancel {
  background-color: #b2b2b2;
  color: #fff;
  margin-top: 1.5em;
  margin-left: 1em;
  border-radius: 0.3em;
}

#search-top {
  padding: 0.5em 6em 0.5em 0.5em;
  border: 1.2px solid #d1d1d1;
  background-color: #fbfbfb;
  border-radius: 0.3em;
  margin-top: 1.2em;
}

#search-bottom {
  padding: 0.5em 0 0.5em 0.5em;
  border: 1.2px solid #d1d1d1;
  background-color: #fbfbfb;
  border-radius: 0.3em;
}

#textarea {
  margin-top: 1.5em;
  padding: 0.5em 2.5em 3.2em 0.5em;
  border: 1.2px solid #d1d1d1;
  background-color: #fbfbfb;
  border-radius: 0.3em;
}

#timezone {
  padding: 0.5em 0 0.5em 0.5em;
  border: 1.2px solid #d1d1d1;
  background-color: #fbfbfb;
  border-radius: 0.3em;
  margin-top: 1.5em;
}

.dashboard-flex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.switch-candy {
  display: flex;
  justify-content: space-between;
}

.btn-ios {
  width: 40% !important;
}

.message-form {
  display: flex;
  flex-direction: column;
}

.settings-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px 65px 60px;
  grid-template-areas: "text-1  switch-1" "text-2  switch-2" "timezone timezone" "btn-save btn-cancel";
}

.switch-1-text {
  grid-area: text-1;
  margin-top: 0.3em;
}

.switch-2-text {
  grid-area: text-2;
  margin-top: 1em;
}

.switch-1 {
  grid-area: switch-1;
  display: flex;
  justify-content: end;
}

.switch-2 {
  grid-area: switch-2;
  margin-top: 0.6em;
  display: flex;
  justify-content: end;
}

#timezone {
  grid-area: timezone;
}

.btn-save {
  grid-area: btn-save;
}

.btn-cancel {
  grid-area: btn-cancel;
}

.switch-ios.switch-light input:checked ~ span {
  border-color: #7377bf;
  box-shadow: inset 0 0 0 30px #7377bf;
}

.switch-ios.switch-light input:checked ~ span a {
  border-color: #7377bf;
}

@media (min-width: 724px) {
  .dashboard-flex {
    flex-direction: row;
    align-items: center;
  }

  .search-border {
    padding: 2em 0 0 27em;
    margin-bottom: 2em;
  }
}
@media (min-width: 1024px) {
  #search-top {
    padding: 0.5em 10em 0.5em 0.5em;
    margin-top: 0;
  }
}
/*===================
GRID CONTAINER LAYOUT
====================*/
.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  grid-template-rows: 65px minmax(65px, auto);
  grid-template-areas: "header" "nav" "main";
}

header {
  padding-top: 1em;
  padding-bottom: 1em;
  grid-area: header;
  background-color: #7477bf;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  grid-area: nav;
  background-color: #4d4c72;
}

main {
  grid-area: main;
}

/*==================
GRID MAIN LAYOUT*
====================*/
.grid-main {
  padding: 0 1em 2em 1em;
  background-color: #fff;
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  grid-template-areas: "alert" "traffic" "daily-traffic" "mobile-users" "social-stats" "new-members" "recent-activity" "message-user" "settings";
}

.grid-1 {
  grid-area: alert;
}

.grid-2 {
  grid-area: traffic;
}

.grid-3 {
  grid-area: daily-traffic;
  border-top: 1.2px solid #d1d1d1;
  border-right: 1.2px solid #d1d1d1;
  border-bottom: 1.2px solid #d1d1d1;
  padding-right: 0.5em;
}

.grid-4 {
  grid-area: mobile-users;
  border-top: 1.2px solid #d1d1d1;
  border-right: 1.2px solid #d1d1d1;
  border-bottom: 1.2px solid #d1d1d1;
  padding-left: 0.5em;
}

.grid-5 {
  grid-area: social-stats;
}

.grid-6 {
  grid-area: new-members;
  border-top: 1.2px solid #d1d1d1;
  border-bottom: 1.2px solid #d1d1d1;
  padding-right: 1em;
}

.grid-7 {
  grid-area: recent-activity;
  border-top: 1.2px solid #d1d1d1;
  border-bottom: 1.2px solid #d1d1d1;
}

.grid-8 {
  grid-area: message-user;
}

.grid-9 {
  grid-area: settings;
}

/*================
MEDIA QUERIES
=================*/
@media (min-width: 768px) {
  .container {
    grid-template-columns: minmax(65px, max-content);
    grid-template-rows: 65px;
    grid-auto-rows: auto;
    grid-template-areas: "header header" "nav main" "nav main";
  }
}
@media (min-width: 1024px) {
  .grid-main {
    width: 55%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "alert alert" "traffic traffic" "daily-traffic mobile-users" "social-stats social-stats" "new-members recent-activity" "message-user settings";
  }

  .grid-6 {
    border-right: 1.2px solid #d1d1d1;
    padding-right: 2em;
  }

  .grid-7 {
    padding-left: 2em;
  }

  .grid-8 {
    border-right: 1.2px solid #d1d1d1;
    padding: 1em 2em 1em 0;
  }

  .grid-9 {
    padding: 1em 1em 0 2em;
  }
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logo {
  width: 160px;
  margin-right: auto;
  margin-bottom: 10px;
}

.bell {
  width: 4em;
  height: 1.4em;
  margin: 20px 6px;
  border-right: 1.2px solid #d1d1d1;
}

.profile-pic {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 10px 10px;
}

.profile-name {
  margin-right: 1em;
  margin-top: 13px;
  color: #fff;
}

.nav-icons {
  width: 1.6em;
  margin: 19px 10px 20px;
}

.side-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .side-nav {
    flex-direction: column;
    justify-content: center;
  }

  .bell {
    width: 5em;
    margin: 15px 10px;
  }

  .profile-name {
    margin-top: 1.2em;
  }

  .logo {
    margin-bottom: 2px;
  }

  .nav-icons {
    width: 1.8em;
  }
}
.members-grid {
  padding: 1em 0 1em 0;
  display: grid;
  grid-template-columns: 50px 2fr 1fr;
  grid-template-rows: 1.4em;
  grid-template-areas: "image name date" "image mail date";
}

.activity-grid {
  padding: 1em 0 1em 0;
  display: grid;
  grid-template-columns: 50px 10fr 1fr;
  grid-template-rows: 2.5em;
  grid-template-areas: "image comment sign" "image time sign";
}

.activity-grid:not(:last-child),
.members-grid:not(:last-child) {
  border-bottom: 1px solid #d1d1d1;
}

.member-img {
  grid-area: image;
  width: 85%;
  border-radius: 50%;
  padding-right: 7px;
}

.member-name {
  grid-area: name;
  margin: 0;
}

.member-mail {
  grid-area: mail;
  color: #797dc1;
}

.member-date {
  grid-area: date;
  text-align: end;
}

.member-comment {
  grid-area: comment;
  margin: 0;
}

.member-time {
  grid-area: time;
  margin: 0;
}

.sign {
  grid-area: sign;
  font-size: 22px;
  color: #797dc1;
  margin: 0;
  text-align: right;
}

.notification {
  position: relative;
  text-align: right;
}

.notification-menu {
  position: absolute;
  top: 50px;
  left: -150px;
  background-color: #e5e5e5;
  border: #989898;
  padding: 10px;
  list-style: none;
  width: 250px;
  display: none;
  text-align: left;
}

.notification-menu li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.notification-menu .img {
  padding: 2px 0;
}

.notification-menu h3 {
  margin: 0 0 5px 0;
  display: inline;
}

.notification-menu p {
  margin-bottom: 0;
}

.popup .popuptext::before {
  content: "";
  position: absolute;
  top: -24%;
  left: 49%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.popuptext {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 20px;
  grid-template-areas: "image name button" "image comment button";
}

.img {
  grid-area: image;
  width: 40px;
  border-radius: 50%;
}

.name {
  grid-area: name;
  margin: 0;
  text-align: left;
}

.comment {
  grid-area: comment;
  margin: 0;
}

.btn-notif {
  grid-area: button;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0 0 20px 30px;
}

@media (min-width: 1024px) {
  .activity-grid {
    grid-template-rows: 1.6em;
  }
}
.chart-1,
.chart-2,
.chart-3 {
  position: relative;
  width: 100% !important;
  height: auto !important;
}

.widgets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social-info {
  margin: 0 1em 1.8em 1em;
  border: 1.2px solid #d1d1d1;
  background-color: #fbfbfb;
  border-radius: 0.5em;
  padding: 0 2em 0 0.4em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 27px 1fr;
  grid-template-areas: "icon label" "icon stats";
}

.social-icons {
  grid-area: icon;
  width: 80px;
  height: 100px;
  margin-right: 20px;
}

.widget-label {
  grid-area: label;
  color: #797dc1;
}

.widget-stats {
  grid-area: stats;
  font-size: 40px;
  margin: 10px 0;
}

@media (min-width: 1024px) {
  .widgets {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
