@import url("https://fonts.googleapis.com/css?family=Ubuntu");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fbfbfb;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-size: 2.2rem;
}

h3,
h2,
p,
li {
  color: #828282;
}

h3, li, button, input, select, textarea, p, a {
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  h3, li, button, input, select, textarea, p, a {
    font-size: 1.3rem;
  }
}
.btn-delete-flex {
  display: flex;
  justify-content: space-between;
  background-color: #7377bf;
  border-radius: 0.4rem;
}

.btn-delete {
  background-color: #7377bf;
  color: #fff;
  border: none;
  margin: 0 0.4rem 0.1rem 0;
}

.alert-text {
  margin: 0.8rem 0 0.8rem 0.8rem;
  color: #fff;
}

.btn-chart {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.li {
  list-style-type: none;
  text-align: center;
  margin-right: 0.5rem;
  border-radius: 2.8rem;
  padding: 0.6rem;
}

.liSelected {
  background-color: #81c98f;
  color: #fff;
  font-weight: bold;
}

.btn-send {
  padding: 1.3rem;
  background-color: #7377bf;
  color: #fff;
  margin-top: 2.4rem;
  border-radius: 0.4rem;
}

.btn-save {
  margin-right: 1.6rem;
  background-color: #7377bf;
  color: #fff;
  margin-top: 2.4rem;
  border-radius: 0.4rem;
}

.btn-cancel {
  background-color: #b2b2b2;
  color: #fff;
  margin-top: 2.4rem;
  margin-left: 1.6rem;
  border-radius: 0.4rem;
}

#search-top {
  padding: 0.8rem 12.6rem 0.8rem 0.8rem;
  border: 0.2rem solid #f3f2f2;
  background-color: #fbfbfb;
  border-radius: 0.4rem;
  margin-top: 1.9rem;
}

#search-bottom {
  padding: 0.8rem 0 0.8rem 0.8rem;
  border: 0.2rem solid #f3f2f2;
  background-color: #fbfbfb;
  border-radius: 0.4rem;
}

#textarea {
  margin-top: 2.4rem;
  padding: 0.8rem 4rem 5.1rem 0.8rem;
  border: 0.2rem solid #f3f2f2;
  background-color: #fbfbfb;
  border-radius: 0.4rem;
}

#timezone {
  padding: 0.8rem 0 0.8rem 0.8rem;
  border: 0.2rem solid #f3f2f2;
  background-color: #fbfbfb;
  border-radius: 0.4rem;
  margin-top: 2.4rem;
}

#search-top:focus, #search-bottom:focus,
#textarea:focus, #timezone:focus {
  border: 0.2rem solid #7377bf;
  transition: all 0.4s;
}

.search-border {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.dashboard-flex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.btn-ios {
  width: 40% !important;
}

.message-form {
  display: flex;
  flex-direction: column;
}

.settings-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem 5rem 6.7rem 7rem;
  grid-template-areas: "text-1  switch-1" "text-2  switch-2" "timezone timezone" "btn-save btn-cancel";
}

.switch-1-text {
  grid-area: text-1;
  margin-top: 0.4rem;
}

.switch-2-text {
  grid-area: text-2;
  margin-top: 1.6rem;
}

.switch-1 {
  grid-area: switch-1;
  display: flex;
  justify-content: end;
  margin-top: 0.5rem;
}

.switch-2 {
  grid-area: switch-2;
  display: flex;
  justify-content: end;
  margin-top: 1.2rem;
}

#timezone {
  grid-area: timezone;
}

.btn-save {
  grid-area: btn-save;
}

.btn-cancel {
  grid-area: btn-cancel;
}

.switch-ios.switch-light input:checked ~ span {
  border-color: #7377bf;
  box-shadow: inset 0 0 0 3rem #7377bf;
}

.switch-ios.switch-light input:checked ~ span a {
  border-color: #7377bf;
}

.switch-ios.switch-light a {
  width: 3.8rem;
  height: 3.8rem;
  outline: none !important;
}

@media (min-width: 724px) {
  .dashboard-flex {
    flex-direction: row;
    align-items: center;
  }

  .search-border {
    margin: 3rem 0 3.2rem 0;
  }
}
@media (min-width: 1024px) {
  #search-top {
    padding: 0.8rem 16rem 0.8rem 0.8rem;
    margin-top: 0;
  }
}
/*===================
GRID CONTAINER LAYOUT
====================*/
.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  grid-template-rows: 6.5rem minmax(6.5rem, auto);
  grid-template-areas: "header" "nav" "main";
}

header {
  padding-top: 2.6rem;
  padding-bottom: 1.6rem;
  grid-area: header;
  background-color: #7477bf;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  grid-area: nav;
  background-color: #4d4c72;
}

main {
  grid-area: main;
}

/*==================
GRID MAIN LAYOUT*
====================*/
.grid-main {
  padding: 0 1.6rem 3.2rem 1.6rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  grid-template-areas: "alert" "traffic" "daily-traffic" "mobile-users" "social-stats" "new-members" "recent-activity" "message-user" "settings";
}

.grid-1 {
  grid-area: alert;
}

.grid-2 {
  grid-area: traffic;
}

.grid-3 {
  grid-area: daily-traffic;
  border-top: 0.12rem solid #d1d1d1;
}

.grid-4 {
  grid-area: mobile-users;
  border-top: 0.12rem solid #d1d1d1;
  border-bottom: 0.12rem solid #d1d1d1;
}

.grid-5 {
  grid-area: social-stats;
}

.grid-6 {
  grid-area: new-members;
  border-top: 0.12rem solid #d1d1d1;
  border-bottom: 0.12rem solid #d1d1d1;
}

.grid-7 {
  grid-area: recent-activity;
  border-top: 0.12rem solid #d1d1d1;
  border-bottom: 0.12rem solid #d1d1d1;
}

.grid-8 {
  grid-area: message-user;
}

.grid-9 {
  grid-area: settings;
}

.grid-1, .grid-2, .grid-3,
.grid-4, .grid-5, .grid-6,
.grid-7, .grid-8, .grid-9 {
  padding: 2.5rem 0 2.5rem 0;
}

/*================
MEDIA QUERIES
=================*/
@media (min-width: 768px) {
  .container {
    grid-template-columns: 6.5rem minmax(50%, auto);
    grid-template-areas: "header header" "nav main" "nav main";
  }

  .grid-5 {
    padding: 0 3em 0 3em;
  }

  header {
    padding-top: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .grid-main {
    width: 55%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "alert alert" "traffic traffic" "daily-traffic mobile-users" "social-stats social-stats" "new-members recent-activity" "message-user settings";
  }

  .grid-3 {
    border-right: 0.12rem solid #d1d1d1;
    border-bottom: 0.12rem solid #d1d1d1;
    padding: 1.5rem 0.8rem 2.5rem 0;
  }

  .grid-4 {
    padding: 1.5rem 0 2.5rem 0.8rem;
  }

  .grid-6 {
    border-right: 0.12rem solid #d1d1d1;
    padding-right: 3.2rem;
  }

  .grid-7 {
    padding-left: 3.2rem;
  }

  .grid-8 {
    border-right: 0.12rem solid #d1d1d1;
    padding: 1.6rem 3.2rem 1.6rem 0;
  }

  .grid-9 {
    padding: 1.6rem 1.6rem 0 3.2rem;
  }
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.logo {
  width: 13rem;
  margin-right: auto;
  margin-bottom: 1rem;
}

.bell {
  width: 2.4rem;
  height: 2.2rem;
  margin: 2.6rem 0.6rem 2.6rem 5rem;
}

.border-notif {
  border-right: 0.2rem dotted #d1d1d1;
  margin: 1.8rem 1.1rem;
}

.profile-pic {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin: 2rem 1rem;
}

.profile-name {
  margin-right: 1.6rem;
  margin-top: 2.3rem;
  color: #fff;
}

.nav-icons {
  width: 2.5rem;
  margin: 1.9rem 1rem 2rem;
}

.side-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .side-nav {
    flex-direction: column;
    justify-content: center;
  }

  .header-nav {
    margin-bottom: 0;
  }

  .logo {
    margin-bottom: 0;
  }

  .nav-icons {
    width: 2.8rem;
  }
}
.members-grid {
  padding: 1.6rem 0 1.6rem 0;
  display: grid;
  grid-template-columns: 5rem 2fr 1fr;
  grid-template-rows: 2.2rem;
  grid-template-areas: "image name date" "image mail date";
}

.activity-grid {
  padding: 1.6rem 0 1.6rem 0;
  display: grid;
  grid-template-columns: 5rem 10fr 1fr;
  grid-template-rows: 4rem;
  grid-template-areas: "image comment sign" "image time sign";
}

.activity-grid:not(:last-child),
.members-grid:not(:last-child) {
  border-bottom: 0.1rem solid #d1d1d1;
}

.member-img {
  grid-area: image;
  width: 85%;
  border-radius: 50%;
  padding-right: 0.7rem;
}

.member-name {
  grid-area: name;
  margin: 0;
}

.member-mail {
  grid-area: mail;
  color: #797dc1;
}

.member-date {
  grid-area: date;
  text-align: end;
}

.member-comment {
  grid-area: comment;
  margin: 0;
}

.member-time {
  grid-area: time;
  margin: 0;
}

.sign {
  grid-area: sign;
  font-size: 2.2rem;
  color: #797dc1;
  margin: 0;
  text-align: right;
}

.notification {
  position: relative;
}

.notification-menu {
  position: absolute;
  top: 6rem;
  left: -9rem;
  background-color: #e5e5e5;
  border: #989898;
  padding: 1rem 1rem 0 1rem;
  list-style: none;
  width: 29rem;
  display: none;
  z-index: 1;
}

.notification-menu li {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.notification-menu .img {
  padding: 0.2rem 0;
}

.notification-menu h3 {
  margin: 0 0 0.5rem 0;
  display: inline;
}

.notification-menu p {
  margin-bottom: 0;
}

.notification-menu::before {
  content: "";
  position: absolute;
  top: -27.9px;
  left: 142px;
  margin-left: -0.5rem;
  border-width: 1.4rem;
  border-style: solid;
  border-color: transparent transparent #e5e5e5 transparent;
}

.removed-item {
  animation: removed-item-animation 3s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
  /*transform origin is moved to the bottom left corner*/
  transform-origin: 0% 100%;
}

@keyframes removed-item-animation {
  0% {
    opacity: 1;
    transform: rotateZ(0);
  }
  100% {
    opacity: 0;
    transform: translateY(600px) rotateZ(90deg);
  }
}
.popuptext {
  display: grid;
  grid-template-columns: 1fr 3fr 2rem;
  grid-template-rows: 1.5rem 2rem 1rem;
  grid-template-areas: "image name button" "image comment button";
}

.img {
  grid-area: image;
  width: 4rem;
  border-radius: 50%;
}

.name {
  grid-area: name;
  margin: 0;
  text-align: left;
}

.comment {
  grid-area: comment;
  margin: 0;
}

.btn-notif {
  grid-area: button;
  background-color: #fff;
  color: #000;
  border: none;
  margin: 0 0 2rem 1em;
  padding: 0;
  outline: none;
}

@media (min-width: 1024px) {
  .activity-grid {
    grid-template-rows: 2.5rem;
  }
}
.chart-1,
.chart-2,
.chart-3 {
  position: relative;
  width: 100% !important;
  height: auto !important;
}

.widgets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social-info {
  margin: 0 1.6rem 2.8rem 1.6rem;
  border: 0.1rem solid #d1d1d1;
  background-color: #fbfbfb;
  border-radius: 0.8rem;
  padding: 0 3.2rem 0 0.6rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2.7rem 1fr;
  grid-template-areas: "icon label" "icon stats";
}

.social-icons {
  grid-area: icon;
  width: 8rem;
  height: 10rem;
  margin: 0.75rem 2rem 0 0;
}

.widget-label {
  grid-area: label;
  color: #797dc1;
}

.widget-stats {
  grid-area: stats;
  font-size: 4rem;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .social-info {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: ". icon label ." ". icon stats .";
  }
}
@media (min-width: 1024px) {
  .widgets {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
