@charset "UTF-8";
/*
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */
/*------------------------------------*\
  #BASE
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fbfbfb;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-size: 2.2rem;
}

h3,
h2,
p,
li {
  color: #828282;
}

h3, li, button, input, select, textarea, p, a {
  font-size: 1.1rem;
}

.btn-send:focus, .btn-cancel:focus, .btn-delete:focus,
.btn-save:focus, .btn-notif:focus, .nav-icons:focus,
.btn-chart:focus, .search-top:focus, .search-bottom:focus,
.textarea:focus, .timezone:focus .switch {
  outline: none !important;
}

@media (min-width: 768px) {
  h3, li, button, input, select, textarea, p, a {
    font-size: 1.3rem;
  }
}
/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/
.btn-delete-flex {
  display: flex;
  justify-content: space-between;
  background-color: #7377bf;
  border-radius: 0.4rem;
}

.btn-delete {
  cursor: pointer;
  background-color: #7377bf;
  color: #fff;
  border: none;
  margin-right: 0.4rem;
}

.alert-text {
  margin: 1rem 0 1rem 0.8rem;
  color: #fff;
}

.btn-chart {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.li {
  list-style-type: none;
  text-align: center;
  margin-right: 0.5rem;
  border-radius: 2.8rem;
  padding: 0.6rem;
}

.liSelected {
  background-color: #81c98f;
  color: #fff;
  font-weight: bold;
}

.btn-send {
  cursor: pointer;
  padding: 1.3rem;
  background-color: #7377bf;
  color: #fff;
  margin-top: 2.4rem;
  border-radius: 0.4rem;
  transition: all 0.1s ease-in-out;
}

.btn-save {
  cursor: pointer;
  margin-right: 1.6rem;
  background-color: #7377bf;
  color: #fff;
  margin-top: 2.4rem;
  border-radius: 0.4rem;
  transition: all 0.1s ease-in-out;
}

.btn-cancel {
  cursor: pointer;
  background-color: #b2b2b2;
  color: #fff;
  margin-top: 2.4rem;
  margin-left: 1.6rem;
  border-radius: 0.4rem;
  transition: all 0.1s ease-in-out;
}

.btn-send:hover,
.btn-save:hover {
  transform: scale(1.03);
  background-color: #595eb8;
}

.btn-cancel:hover {
  transform: scale(1.03);
  background-color: #9a9898;
}

/*------------------------------------*\
  #FORMS
\*------------------------------------*/
.search-top {
  padding: 0.8rem 12.6rem 0.8rem 0.8rem;
  border: 0.2rem solid #f3f2f2;
  background-color: #fbfbfb;
  border-radius: 0.4rem;
  margin-top: 1.9rem;
}

.search-bottom {
  padding: 0.8rem 0 0.8rem 0.8rem;
  border: 0.2rem solid #f3f2f2;
  background-color: #fbfbfb;
  border-radius: 0.4rem;
}

.textarea {
  margin-top: 2.4rem;
  padding: 0.8rem 4rem 5.9rem 0.8rem;
  border: 0.2rem solid #f3f2f2;
  background-color: #fbfbfb;
  border-radius: 0.4rem;
}

.timezone {
  padding: 0.8rem 0 0.8rem 0.8rem;
  border: 0.2rem solid #f3f2f2;
  background-color: #fbfbfb;
  border-radius: 0.4rem;
  margin-top: 2.4rem;
}

.search-top:focus, .search-bottom:focus,
.textarea:focus, .timezone:focus {
  border: 0.2rem solid #7377bf;
  transition: all 0.4s;
}

.search-border {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.dashboard-flex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.message-form {
  display: flex;
  flex-direction: column;
}

.settings-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5.5rem 5.5rem 6.7rem 7rem;
  grid-template-areas: "text-1  switch-1" "text-2  switch-2" "timezone timezone" "btn-save btn-cancel";
}

.switch-1-text {
  grid-area: text-1;
  margin-top: 1.6rem;
}

.switch-2-text {
  grid-area: text-2;
  margin-top: 1.6rem;
}

.switch-1 {
  grid-area: switch-1;
}

.switch-2 {
  grid-area: switch-2;
}

.timezone {
  grid-area: timezone;
}

.btn-save {
  grid-area: btn-save;
}

.btn-cancel {
  grid-area: btn-cancel;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 1rem 0 0 auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #7377bf;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media (min-width: 724px) {
  .dashboard-flex {
    flex-direction: row;
    align-items: center;
  }

  .search-border {
    margin: 3rem 0 3.2rem 0;
  }
}
@media (min-width: 1024px) {
  .search-top {
    padding: 0.8rem 16rem 0.8rem 0.8rem;
    margin-top: 0;
  }
}
/*------------------------------------*\
  #GRID
\*------------------------------------*/
.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  grid-template-rows: 6.5rem minmax(6.5rem, auto);
  grid-template-areas: "header" "nav" "main";
}

header {
  padding-top: 2.6rem;
  padding-bottom: 1.6rem;
  grid-area: header;
  background-color: #7477bf;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  grid-area: nav;
  background-color: #4d4c72;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  grid-area: main;
}

/*==================
GRID MAIN LAYOUT*
====================*/
.grid-main {
  padding: 0 1.6rem 3.2rem 1.6rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  grid-template-areas: "alert" "traffic" "daily-traffic" "mobile-users" "social-stats" "new-members" "recent-activity" "message-user" "settings";
}

.grid-1 {
  grid-area: alert;
}

.grid-2 {
  grid-area: traffic;
}

.grid-3 {
  grid-area: daily-traffic;
  border-top: 0.12rem solid #d1d1d1;
}

.grid-4 {
  grid-area: mobile-users;
  border-top: 0.12rem solid #d1d1d1;
  border-bottom: 0.12rem solid #d1d1d1;
}

.grid-5 {
  grid-area: social-stats;
}

.grid-6 {
  grid-area: new-members;
  border-top: 0.12rem solid #d1d1d1;
  border-bottom: 0.12rem solid #d1d1d1;
}

.grid-7 {
  grid-area: recent-activity;
  border-top: 0.12rem solid #d1d1d1;
  border-bottom: 0.12rem solid #d1d1d1;
}

.grid-8 {
  grid-area: message-user;
}

.grid-9 {
  grid-area: settings;
}

.grid-1, .grid-2, .grid-3,
.grid-4, .grid-5, .grid-6,
.grid-7, .grid-8, .grid-9 {
  padding: 2.5rem 0 2.5rem 0;
}

/*================
MEDIA QUERIES
=================*/
@media (min-width: 768px) {
  .container {
    grid-template-columns: 6.5rem minmax(50%, auto);
    grid-template-areas: "header header" "nav main" "nav main";
  }

  .grid-5 {
    padding: 0 3em 0 3em;
  }

  header {
    padding-top: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .grid-main {
    width: 55%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "alert alert" "traffic traffic" "daily-traffic mobile-users" "social-stats social-stats" "new-members recent-activity" "message-user settings";
  }

  .grid-3 {
    border-right: 0.12rem solid #d1d1d1;
    border-bottom: 0.12rem solid #d1d1d1;
    padding: 1.5rem 0.8rem 2.5rem 0;
  }

  .grid-4 {
    padding: 1.5rem 0 2.5rem 0.8rem;
  }

  .grid-6 {
    border-right: 0.12rem solid #d1d1d1;
    padding-right: 3.2rem;
  }

  .grid-7 {
    padding-left: 3.2rem;
  }

  .grid-8 {
    border-right: 0.12rem solid #d1d1d1;
    padding: 1.6rem 3.2rem 1.6rem 0;
  }

  .grid-9 {
    padding: 1.6rem 1.6rem 0 3.2rem;
  }
}
/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.logo {
  width: 13rem;
  margin-right: auto;
  margin-bottom: 1rem;
}

.bell {
  width: 2.4rem;
  height: 2.2rem;
  margin: 2.6rem 0.6rem 2.6rem 5rem;
}

.border-notif {
  border-right: 0.2rem dotted #d1d1d1;
  margin: 1.8rem 1.1rem;
}

.profile-pic {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin: 2rem 1rem;
}

.profile-name {
  margin-right: 1.6rem;
  margin-top: 2.3rem;
  color: #fff;
}

.nav-icons {
  width: 2.5rem;
  margin: 1.9rem 1rem 2rem;
  opacity: 0.5;
  transition: 0.2s all;
}

.nav-selected, .nav-icons:hover {
  opacity: 1;
  transform: scale(1.1);
}

.side-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .side-nav {
    flex-direction: column;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 3rem;
  }

  .header-nav {
    margin-bottom: 0;
  }

  .logo {
    margin-bottom: 0;
  }

  .nav-icons {
    width: 2.8rem;
    margin: 1.9rem 0.5rem 2rem 1.8rem;
  }
}
/*------------------------------------*\
  #NOTIFICATIONS
\*------------------------------------*/
.members-grid {
  padding: 1.6rem 0 1.6rem 0;
  display: grid;
  grid-template-columns: 5rem 2fr 1fr;
  grid-template-rows: 2.2rem;
  grid-template-areas: "image name date" "image mail date";
}

.activity-grid {
  padding: 1.6rem 0 1.6rem 0;
  display: grid;
  grid-template-columns: 5rem 10fr 1fr;
  grid-template-rows: 4rem;
  grid-template-areas: "image comment sign" "image time sign";
}

.activity-grid:not(:last-child),
.members-grid:not(:last-child) {
  border-bottom: 0.1rem solid #d1d1d1;
}

.member-img {
  grid-area: image;
  width: 85%;
  border-radius: 50%;
  padding-right: 0.7rem;
}

.member-name {
  grid-area: name;
  margin: 0;
}

.member-mail {
  grid-area: mail;
  color: #797dc1;
}

.member-date {
  grid-area: date;
  text-align: end;
}

.member-comment {
  grid-area: comment;
  margin: 0;
}

.member-time {
  grid-area: time;
  margin: 0;
}

.sign {
  grid-area: sign;
  font-size: 2.2rem;
  color: #797dc1;
  margin: 0;
  text-align: right;
}

.notification {
  position: relative;
}

.notification-menu {
  position: absolute;
  top: 6.2rem;
  left: -9rem;
  background-color: #eeeeee;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem 1rem 0 1rem;
  list-style: none;
  width: 29rem;
  z-index: 2;
}

.notification-menu li {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.notification-menu .img {
  padding: 0.2rem 0;
}

.notification-menu h3 {
  margin: 0 0 0.5rem 0;
  display: inline;
}

.notification-menu p {
  margin-bottom: 0;
}

.notification-menu::before {
  content: "";
  position: absolute;
  top: -27.9px;
  left: 142px;
  margin-left: -0.5rem;
  border-width: 1.4rem;
  border-style: solid;
  border-color: transparent transparent #e5e5e5 transparent;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.popuptext {
  display: grid;
  grid-template-columns: 1fr 3fr 2rem;
  grid-template-rows: 1.5rem 2rem 1rem;
  grid-template-areas: "image name button" "image comment button";
}

.img {
  grid-area: image;
  width: 4rem;
  border-radius: 50%;
}

.name {
  grid-area: name;
  margin: 0;
  text-align: left;
}

.comment {
  grid-area: comment;
  margin: 0;
}

.btn-notif {
  grid-area: button;
  background-color: #fff;
  color: #000;
  border: none;
  margin: 0 0 2rem 1em;
  padding: 0;
}

#header-li {
  background-color: #eeeeee;
}

.popupalert {
  text-align: center;
}

.removed-item {
  animation: removed-item-animation 0.4s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
}

@keyframes removed-item-animation {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
@media (min-width: 1024px) {
  .activity-grid {
    grid-template-rows: 2.5rem;
  }
}
/*------------------------------------*\
  #WIDGETS
\*------------------------------------*/
.chart-1,
.chart-2,
.chart-3 {
  position: relative;
  width: 100% !important;
  height: auto !important;
}

.widgets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social-info {
  margin: 0 1.6rem 2.8rem 1.6rem;
  border: 0.1rem solid #d1d1d1;
  background-color: #fbfbfb;
  border-radius: 0.8rem;
  padding: 0 3.2rem 0 0.6rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2.7rem 1fr;
  grid-template-areas: "icon label" "icon stats";
}

.social-icons {
  grid-area: icon;
  width: 8rem;
  height: 10rem;
  margin: 0.75rem 2rem 0 0;
}

.widget-label {
  grid-area: label;
  color: #797dc1;
}

.widget-stats {
  grid-area: stats;
  font-size: 4rem;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .social-info {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: ". icon label ." ". icon stats .";
  }
}
@media (min-width: 1024px) {
  .widgets {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
