//COLORS
//Navigation and fonts
$viking:#58e1c1;
//Buttons
$malibu:#51ddfc;
$emerald:#63cc82;
$sunglo:#e4757a;
$coral:#fd7856;
$purple-mountain:#927bc1;
//Grid
$riptide:#80e8d1;
$shakespeare:#3fabca;
$anakiwa:#7ee6fd;
$french-lilac:#deb2ee;
$vista-blue:#88d9a0;
$sea-pink:#ec9fa3;
$vivid-tangerine:#fd9f85;

//FONTS
//Font family
$bodyfont:'Open Sans', sans-serif;
//Font colors
$grey:#818181;

//Border colors
$silver:#cdcdcd;

//BREAKPOINTS
$brkpoint-sm:1px;
$brkpoint-md:480px;
$brkpoint-lg:1400px;