.chart-1, .chart-2, .chart-3 {
  position: relative;
  width: 100% !important;
  height: auto !important;
  // max-width: 800px;
}


  // height: 20vh;
  // width: 80vw;

// .col-1 {
//   width: calc(100% / 3);
// }

// .col-2 {
//  width: calc(100% / 3 * 2);
// }

// .col-3 {
//   width: calc(100% / 3 * 3);
//  }

// @media (min-width: 768px){
//   .chart-1, .chart-2, .chart-3 {
//     position: relative;
//     width: 100% !important;
//     max-width: 1200px;
//     height: auto !important;
//   }
// }