
.btn-delete-flex {
display: flex;
justify-content: space-between;
background-color: #7377bf;
color: #fff;
}

.btn-delete {
background-color: #7377bf;
color: #fff;
border: none;
border-radius: 0.3em;
}

.alert-text {
margin: 0.5em 0 0.5em 0.5em;
}

.btn-chart {
display: flex;
flex-direction: row;
justify-content: end;
}

.li {
list-style-type: none;
text-align: center;
margin-right: 5px;
border-radius: 1.75em;
padding: 0.4em;
}

.liSelected {
background-color: #81c98f;
color: #fff;
}

.btn-send, .btn-save {
padding: 1rem;
background-color: #7377bf;
color: #fff;
margin-top: 1.5em;
border-radius: 0.3em;
}

.btn-save {
margin-right: 1em;
}

.btn-cancel {
padding: 1rem;
background-color: #b2b2b2;
color: #fff;
margin-top: 1.5em;
margin-left: 1em;
border-radius: 0.3em;
}


