

.search-border {
 background-color: #fbfbfb;
}

#search-top {
padding: 0.5em 10em 0.5em 0.5em;
border: 1.2px solid #d1d1d1;
background-color: #fff;
text-align: inherit;
border-radius: 0.3em;
}

#search-bottom {
padding: 0.5em 0 0.5em 0.5em;
border: 1.2px solid #d1d1d1;
background-color: #fbfbfb;
margin-bottom: 1em;
border-radius: 0.3em;
}

#textarea {
margin-top: 0.5em;
padding: 0.5em 2.5em 2em 0.5em;
border: 1.2px solid #d1d1d1;
background-color: #fbfbfb;
border-radius: 0.3em;
}

#timezone {
padding: .5em 0 .5em .5em;
border: 1.2px solid #d1d1d1;
background-color: #fbfbfb;
border-radius: 0.3em;
margin-top: 1.6em;
}

.dashboard-flex {
display: flex;
flex-direction: column-reverse;
justify-content: space-between;
align-items: center;
}

.switch-candy {
display: flex;
justify-content: space-between;
}

.btn-ios {
width: 40% !important;
}

.message-form {
display: flex;
flex-direction: column;
}

.settings-form {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: 
"text-1  switch-1"
"text-2  switch-2"
"timezone timezone"
"btn-save btn-cancel";
}

.switch-1-text {
grid-area: text-1;
margin-top: 0.3em;
}

.switch-2-text {
grid-area: text-2;
margin-top: 1em;
}

.switch-1 {
grid-area: switch-1;
display: flex;
justify-content: end;
}

.switch-2 {
grid-area: switch-2;
margin-top: 0.6em;
display: flex;
justify-content: end;
}

#timezone {
grid-area: timezone;
}

.btn-save {
grid-area: btn-save;
}

.btn-cancel {
grid-area: btn-cancel;
}

.switch-ios.switch-light input:checked ~ span  {
    border-color: #7377bf;
    box-shadow: inset 0 0 0 30px #7377bf;
}

.switch-ios.switch-light input:checked ~ span a {
    border-color: #7377bf;
}

@media (min-width: 724px) {
    .dashboard-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
    .search-boarder {
    padding: 1em 0.6em 1em 10em;
    background-color: #fbfbfb;
    }
}