
#search-top {
  padding: 0.8rem 12.6rem 0.8rem 0.8rem;
  border: 0.2rem solid #f3f2f2;
  background-color: #fbfbfb;
  border-radius: 0.4rem;
  margin-top: 1.9rem;
}

#search-bottom {
  padding: 0.8rem 0 0.8rem 0.8rem;
  border: 0.2rem solid #f3f2f2;
  background-color: #fbfbfb;
  border-radius: 0.4rem;
}

#textarea {
  margin-top: 2.4rem;  
  padding: 0.8rem 4rem 5.9rem 0.8rem;
  border: 0.2rem solid #f3f2f2;
  background-color: #fbfbfb;
  border-radius: 0.4rem;
}

#timezone {
  padding: 0.8rem 0 0.8rem 0.8rem;
  border: 0.2rem solid #f3f2f2;
  background-color: #fbfbfb;
  border-radius: 0.4rem;
  margin-top: 2.4rem;
}

#search-top:focus, #search-bottom:focus,
#textarea:focus, #timezone:focus {
  border: 0.2rem solid #7377bf;
  transition: all 0.4s;
}

.search-border {
 display: flex;
 justify-content: space-around;
 margin-bottom: 3rem;
}

.dashboard-flex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.message-form {
  display: flex;
  flex-direction: column;
}

.settings-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5.5rem 5.5rem 6.7rem 7rem;
  grid-template-areas:
    "text-1  switch-1"
    "text-2  switch-2"
    "timezone timezone"
    "btn-save btn-cancel";
}
.switch-1-text {
  grid-area: text-1;
  margin-top: 1.6rem;
}
.switch-2-text {
  grid-area: text-2;
  margin-top: 1.6rem;
}
.switch-1 {
  grid-area: switch-1;
}
.switch-2 {
  grid-area: switch-2;
}
#timezone {
  grid-area: timezone;
}
.btn-save {
  grid-area: btn-save;
}
.btn-cancel {
  grid-area: btn-cancel;
}


//iOS switches
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  // width: 3.8rem;
  // height: 3.8rem; 
  margin: 1rem 0 0 auto;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #7377bf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #773377;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


@media (min-width: 724px) {
  .dashboard-flex {
    flex-direction: row;
    align-items: center;
  }
  .search-border {
    margin: 3rem 0 3.2rem 0;
  }
}
@media (min-width: 1024px) {
  #search-top {
    padding: 0.8rem 16rem 0.8rem 0.8rem;
    margin-top: 0;
  }
}
