/*------------------------------------*\
  #GRID
\*------------------------------------*/

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  grid-template-rows: 6.5rem minmax(6.5rem, auto);
  grid-template-areas:
    "header"
    "nav"
    "main";
}

header {
  padding-top: 2.6rem;
  padding-bottom: 1.6rem;
  grid-area: header;
  background-color: #7477bf;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  grid-area: nav;
  background-color: #4d4c72;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  grid-area: main;
}

/*==================
GRID MAIN LAYOUT*
====================*/

.grid-main {
  padding: 0 1.6rem 3.2rem 1.6rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  grid-template-areas:
    "alert"
    "traffic"
    "daily-traffic"
    "mobile-users"
    "social-stats"
    "new-members"
    "recent-activity"
    "message-user"
    "settings";
}

.grid-1 {
  grid-area: alert;
}
.grid-2 {
  grid-area: traffic;
}
.grid-3 {
  grid-area: daily-traffic;
  border-top: 0.12rem solid #d1d1d1;
}
.grid-4 {
  grid-area: mobile-users;
  border-top: 0.12rem solid #d1d1d1;
  border-bottom: 0.12rem solid #d1d1d1;
}
.grid-5 {
  grid-area: social-stats;
}
.grid-6 {
  grid-area: new-members;
  border-top: 0.12rem solid #d1d1d1;
  border-bottom: 0.12rem solid #d1d1d1;
}
.grid-7 {
  grid-area: recent-activity;
  border-top: 0.12rem solid #d1d1d1;
  border-bottom: 0.12rem solid #d1d1d1;
}
.grid-8 {
  grid-area: message-user;
}
.grid-9 {
  grid-area: settings;
}

.grid-1, .grid-2, .grid-3,
.grid-4, .grid-5, .grid-6,
.grid-7, .grid-8, .grid-9 {
  padding: 2.5rem 0 2.5rem 0;
}

/*================
MEDIA QUERIES
=================*/
@media (min-width: 768px) {
  .container {
    grid-template-columns: 6.5rem minmax(50%, auto);
    grid-template-areas:
      "header header"
      "nav main"
      "nav main";
  }
  .grid-5 {
    padding: 0 3em 0 3em;
  }
  header {
    padding-top: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .grid-main {
    width: 55%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "alert alert"
      "traffic traffic"
      "daily-traffic mobile-users"
      "social-stats social-stats"
      "new-members recent-activity"
      "message-user settings";
  }
  .grid-3 {
    border-right: 0.12rem solid #d1d1d1;
    border-bottom: 0.12rem solid #d1d1d1;
    padding: 1.5rem 0.8rem 2.5rem 0;
  }
  .grid-4 {
    padding: 1.5rem 0 2.5rem 0.8rem;
  }
  .grid-6 {
    border-right: 0.12rem solid #d1d1d1;
    padding-right: 3.2rem;
  }
  .grid-7 {
    padding-left: 3.2rem;
  }
  .grid-8 {
    border-right: 0.12rem solid #d1d1d1;
    padding: 1.6rem 3.2rem 1.6rem 0;
  }
  .grid-9 {
    padding: 1.6rem 1.6rem 0 3.2rem;
  }
}
