.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logo {
  width: 16rem;
  margin-right: auto;
  margin-bottom: 1rem;
}

.bell {
  width: 6.4rem;
  height: 2.2rem;
  margin: 2rem 0.6rem;
  border-right: 0.12rem solid #d1d1d1;
}

.profile-pic {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin: 1rem 1rem;
}

.profile-name {
  margin-right: 1.6rem;
  margin-top: 1.3rem;
  color: #fff;
}

.nav-icons {
  width: 2.5rem;
  margin: 1.9rem 1rem 2rem;
}

.side-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .side-nav {
    flex-direction: column;
    justify-content: center;
  }
  .bell {
    width: 8rem;
    margin: 1.5rem 1rem;
  }
  .profile-name {
    margin-top: 1.9rem;
  }
  .logo{
    margin-bottom: 0.2rem;
  }
  .nav-icons {
    width: 2.8rem;
  }
}
