/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.logo {
  width: 13rem;
  margin-right: auto;
  margin-bottom: 1rem;
}

.bell {
  width: 2.4rem;
  height: 2.2rem;
  margin: 2.6rem 0.6rem 2.6rem 5rem;
}

.border-notif {
  border-right: 0.2rem dotted #d1d1d1;
  margin: 1.8rem 1.1rem;
}

.profile-pic {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin: 2rem 1rem;
}

.profile-name {
  margin-right: 1.6rem;
  margin-top: 2.3rem;
  color: #fff;
}

.nav-icons {
  width: 2.5rem;
  margin: 1.9rem 1rem 2rem;
  opacity: 0.5;
  transition: 0.2s all;
}
.nav-selected, .nav-icons:hover {
  opacity: 1;
  transform: scale(1.1);
}

.side-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .side-nav {
    flex-direction: column;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 3rem;
  }
  .header-nav {
    margin-bottom: 0;
  }
  .logo {
    margin-bottom: 0;
  }
  .nav-icons {
    width: 2.8rem;
    margin: 1.9rem 0.5rem 2rem 1.8rem;
  }
}

