/*------------------------------------*\
  #NOTIFICATIONS
\*------------------------------------*/

//NEW MEMBERS
.members-grid {
  padding: 1.6rem 0 1.6rem 0;
  display: grid;
  grid-template-columns: 5rem 2fr 1fr;
  grid-template-rows: 2.2rem;
  grid-template-areas:
    "image name date"
    "image mail date";
}

//RECENT ACTIVITY
.activity-grid {
  padding: 1.6rem 0 1.6rem 0;
  display: grid;
  grid-template-columns: 5rem 10fr 1fr;
  grid-template-rows: 4rem;
  grid-template-areas:
    "image comment sign"
    "image time sign";
}

.activity-grid:not(:last-child),
.members-grid:not(:last-child) {
  border-bottom: 0.1rem solid #d1d1d1;
}

.member-img {
  grid-area: image;
  width: 85%;
  border-radius: 50%;
  padding-right: 0.7rem;
}
.member-name {
  grid-area: name;
  margin: 0;
}
.member-mail {
  grid-area: mail;
  color: #797dc1;
}
.member-date {
  grid-area: date;
  text-align: end;
}
.member-comment {
  grid-area: comment;
  margin: 0;
}
.member-time {
  grid-area: time;
  margin: 0;
}
.sign {
  grid-area: sign;
  font-size: 2.2rem;
  color: #797dc1;
  margin: 0;
  text-align: right;
}

//Bell badges
.badge {
  display: none;
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 50%;
  background: #81c98f;
  color: #fff;
  width:17.5px;
  height: 17.5px;
  text-align: center;
  box-shadow:0 0 1px #333;
  font-size: 13px;
}
.badge-num {
  vertical-align: middle;
  margin-right: 0.1rem;
}

// POP UP MENU
.notification {
  position: relative;
}
.notification-menu {
  position: absolute;
  top: 6.2rem;
  left: -9rem;
  background-color: #eeeeee;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem 1rem 0 1rem;
  list-style: none;
  width: 29rem;
  z-index: 2;
}
.notification-menu li {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}
.notification-menu .img {
  padding: 0.2rem 0;
}
.notification-menu h3 {
  margin: 0 0 0.5rem 0;
  display: inline;
}
.notification-menu p {
  margin-bottom: 0;
}

.notification-menu::before {
  content: "";
  position: absolute;
  top: -27.9px;
  left: 142px;
  margin-left: -0.5rem;
  border-width: 1.4rem;
  border-style: solid;
  border-color: transparent transparent #e5e5e5 transparent;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


// POP UP CONTENT BOX
.popuptext {
  display: grid;
  grid-template-columns: 1fr 3fr 2rem;
  grid-template-rows: 1.5rem 2rem 1rem;
  grid-template-areas:
    "image name button"
    "image comment button";
}

.img {
  grid-area: image;
  width: 4rem;
  border-radius: 50%;
}
.name {
  grid-area: name;
  margin: 0;
  text-align: left;
}
.comment {
  grid-area: comment;
  margin: 0;
}

.btn-notif {
  grid-area: button;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0.2rem;
}

#header-li {
  background-color: #eeeeee;
}
.popupalert {
  text-align: center;
}

//CONTENT DELETE TRANSITION
.removed-item {
  animation: removed-item-animation .4s cubic-bezier(.55,-0.04,.91,.94) forwards;
}

@keyframes removed-item-animation {
  from {
      opacity: 1;
      transform: scale(1);
  }

  to {
      opacity: 0;
      transform: scale(0);
  }
}

@media (min-width: 1024px) {
  .activity-grid {
    grid-template-rows: 2.5rem;
  }
}

