//NEW MEMBERS
.members-grid {
  padding: 1.6rem 0 1.6rem 0;
  display: grid;
  grid-template-columns: 5rem 2fr 1fr;
  grid-template-rows: 2.2rem;
  grid-template-areas:
    "image name date"
    "image mail date";
}

//RECENT ACTIVITY
.activity-grid {
  padding: 1.6rem 0 1.6rem 0;
  display: grid;
  grid-template-columns: 5rem 10fr 1fr;
  grid-template-rows: 4rem;
  grid-template-areas:
    "image comment sign"
    "image time sign";
}

.activity-grid:not(:last-child),
.members-grid:not(:last-child) {
  border-bottom: 0.1rem solid #d1d1d1;
}

.member-img {
  grid-area: image;
  width: 85%;
  border-radius: 50%;
  padding-right: 0.7rem;
}
.member-name {
  grid-area: name;
  margin: 0;
}
.member-mail {
  grid-area: mail;
  color: #797dc1;
}
.member-date {
  grid-area: date;
  text-align: end;
}
.member-comment {
  grid-area: comment;
  margin: 0;
}
.member-time {
  grid-area: time;
  margin: 0;
}
.sign {
  grid-area: sign;
  font-size: 2.2rem;
  color: #797dc1;
  margin: 0;
  text-align: right;
}

//POP UP
// .popup {
//   position: relative;
//   display: inline-block;
//   cursor: pointer;
// }

// .popup .popuptext {
//   list-style: none;
//   visibility: hidden;
//   width: 350px;
//   background-color: #fff;
//   color: gray;
//   text-align: center;
//   border-radius: 6px;
//   padding: 1em;
//   position: absolute;
//   z-index: 1;
//   bottom: -500%;
//   left: 60%;
//   margin-left: -35px;
// }
.notification {
  position: relative;
  text-align: right;
}
.notification-menu {
  position: absolute;
  top: 5rem;
  left: -15rem;
  background-color: #e5e5e5;
  border: #989898;
  padding: 1rem;
  list-style: none;
  width: 25rem;
  display: none;
  text-align: left;
}
.notification-menu li {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}
.notification-menu .img {
  padding: 0.2rem 0;
}
.notification-menu h3 {
  // font-size: 15px;
  margin: 0 0 0.5rem 0;
  display: inline;
}
.notification-menu p {
  margin-bottom: 0;
  // font-size: 14px;
}

.popup .popuptext::before {
  content: "";
  position: absolute;
  top: -24%;
  left: 49%;
  margin-left: -0.5rem;
  border-width: 1rem;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//POP UP CONTENT
.popuptext {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 2rem;
  grid-template-areas:
    "image name button"
    "image comment button";
}

.img {
  grid-area: image;
  width: 4rem;
  border-radius: 50%;
}
.name {
  grid-area: name;
  // font-size: 13px;
  margin: 0;
  text-align: left;
}
.comment {
  grid-area: comment;
  // font-size: 13px;
  margin: 0;
}

.btn-notif {
  grid-area: button;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0 0 2rem 3rem;
}

@media (min-width: 1024px) {
  .activity-grid {
    grid-template-rows: 2.5rem;
  }
}
