/*
 * CONTENTS
 *BASE
 * Base...............Global settings.
 * Mixins...............Useful mixins.
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`
 * Headings.............H1–H6 styles.
 * Wrappers.............Wrapping and constraining elements.
 * COMPONENTS
 * Buttons..............Button elements.
 * Forms
 * Grid
 * Navigation
 * Notifications
 * Widgets
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 * UTILITIES
 * Mixins...............Useful mixins.
 * Variables............Useful mixins.
 */
 
/*------------------------------------*\
  #BASE
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  box-sizing: border-box;
}

//Prevent default blue outline when selected
:hover, :active, :focus, :visited {
  outline: none !important;
  outline: 0px !important;
}

html {
 font-size: 62.5%;  
}

body {
  background-color: #fbfbfb;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-size: 2.2rem;
}

h3,
h2,
p,
li {
  color: #828282;
}

h3, li, button, input, select, textarea, p, a {
 font-size: 1.1rem;
}

@media (min-width:768px){
  h3, li, button, input, select, textarea, p, a {
    font-size: 1.3rem;
   }
}