/*
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */
 
/*------------------------------------*\
  #BASE
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  box-sizing: border-box;
}

html {
 font-size: 62.5%;  
}

body {
  background-color: #fbfbfb;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-size: 2.2rem;
}

h3,
h2,
p,
li {
  color: #828282;
}

h3, li, button, input, select, textarea, p, a {
 font-size: 1.1rem;
}

//Prevent default blue outline when selected
.btn-send:focus, .btn-cancel:focus, .btn-delete:focus,
.btn-save:focus, .btn-notif:focus, .nav-icons:focus, 
.btn-chart:focus,.search-top:focus, .search-bottom:focus,
 .textarea:focus, .timezone:focus
.switch {
  outline: none !important;
}

@media (min-width:768px){
  h3, li, button, input, select, textarea, p, a {
    font-size: 1.3rem;
   }
}